# Track all files inside DatasetManager/datasets/bach_chorales/ with Git LFS
DatasetManager/datasets/bach_chorales/* filter=lfs diff=lfs merge=lfs -text

# Track all files inside DatasetManager/dataset_cache/tensor_datasets/ with Git LFS
DatasetManager/dataset_cache/tensor_datasets/* filter=lfs diff=lfs merge=lfs -text
C:/Users/Tyan/Oct19thDeepBach/DeepBachTyan/resources/dataset_cache/tensor_datasets/ChoraleDataset([0] filter=lfs diff=lfs merge=lfs -text
bach_chorales filter=lfs diff=lfs merge=lfs -text
['fermata' filter=lfs diff=lfs merge=lfs -text
'tick' filter=lfs diff=lfs merge=lfs -text
'key'] filter=lfs diff=lfs merge=lfs -text
8 filter=lfs diff=lfs merge=lfs -text
4) filter=lfs diff=lfs merge=lfs -text
